.container {
  background-color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  padding: 15px;

  .menu_icone {
    display: flex;
    justify-content: flex-end;
  }

  .menuItems {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }
}
