.container {
  width: 100vw;
  height: 100vh;
  background-color: white;
  padding: 15px;
  margin: 0;

  h1 {
    font-family: Montserrat;
    font-size: 16px;
    margin-top: 10px;
    margin-left: 15px;
  }

  p {
    font-size: 14px;
  }

  .cima {
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-top: 30px;
    margin-bottom: 40px;

    .foto_perfil {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
    .nome {
      font-size: 14px;
    }
  }

  .item {
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin-top: 25px;

    img {
      height: 20px;
      width: 20px;
    }
  }
}
